<div class="flex flex-wrap -mx-1 overflow-hidden">
  <div class="my-1 px-1 w-1/1 overflow-hidden">
    <h1>ES6 Classes</h1>
    <p>Octane sees Ember moving away from the Ember Object to using native ES6 Classes.
      If you look at the latest Ember guides you can see starting in 1.15 Ember no longer extends Route, Controller,
      Component.</p>
    <p>
      There are less ‘Emberisms’. init() is replaced is with constructor()
    </p>
  </div>


  <div class="my-1 px-1 w-1/2 overflow-hidden">
    <h2>Classic</h2>
    {{#let (get-code-snippet "es61.js" unindent = true) as |snippet|}}
      <CodeBlock @language={{snippet.language}}>
        {{snippet.source}}
      </CodeBlock>
    {{/let}}
  </div>

  <div class="my-1 px-1 w-1/2 overflow-hidden">
    <h2>Octane</h2>
    {{#let (get-code-snippet "es62.js" unindent = true) as |snippet|}}
      <CodeBlock @language={{snippet.language}}>
        {{snippet.source}}
      </CodeBlock>
    {{/let}}
  </div>

  <div class="my-1 px-1 w-1/1 overflow-hidden">
    <h1>Decorators</h1>
    <p>
      Decorators are javascript functions that can be applied to class or class elements like methods to alter the behaviour.
    </p>
    <p>
     As we move from using the old Ember object extend to the new ES6 Classes we use decorators for computed, inject and actions macros </p>
  </div>

  <div class="my-1 px-1 w-1/2 overflow-hidden">
    <h2>Basic Decorator</h2>
    {{#let (get-code-snippet "decorators.js" unindent = true) as |snippet|}}
      <CodeBlock @language={{snippet.language}}>
        {{snippet.source}}
      </CodeBlock>
    {{/let}}
  </div>

  <div class="my-1 px-1 w-1/2 overflow-hidden">
    <h2>Octane</h2>
    {{#let (get-code-snippet "es62.js" unindent = true) as |snippet|}}
      <CodeBlock @language={{snippet.language}}>
        {{snippet.source}}
      </CodeBlock>
    {{/let}}
  </div>


</div>